[flake8]
extend-ignore = E203, E722
exclude =
    .git,
    __pycache__,
    docs/source/conf.py,
    old,
    build,
    dist,
    tests,
    venv,
    head_pose_estimator.egg-info,
    mobilenetv2ssdlite_usbcam_sync.py
max-complexity = 10
max-line-length = 160
